body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Times New Roman;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #eb7e43;
}


a{
    font-family: Times New Roman;
	font-size: 11px;
	color: #FFFFFF;
	outline:none;
}

object {
	outline:none;
}


.td a{
    font-family: Times New Roman;
	font-size: 11px;
	color: #FFFFFF;
}

.td-top {
	font-family: Times New Roman;
	font-size: 11pt;
}
.td-content {
	font-family: Times New Roman;
	font-size: 11pt;
	color: #333333;
	margin-top: 25px;
	margin-right: 60px;
	margin-bottom: 42px;
	margin-left: 25px;
	padding-top: 25px;
	padding-right: 140px;
	padding-bottom: 42px;
	padding-left: 25px;
	line-height: 18px;
	text-align: left;
	vertical-align: top;
}
.td-footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #EFEFEF;
	margin-top: 10px;
	margin-right: 12px;
	margin-bottom: 10px;
	margin-left: 25px;
	padding-top: 10px;
	padding-right: 12px;
	padding-bottom: 10px;
	padding-left: 25px;
	line-height: 18px;
}
.td-top-R {
	font-family: Times New Roman;
	font-size: 11px;
	color: #666666;
}
